/* taken from https://jsfiddle.net/8e5t0dju */
/* tab component */
[role='tablist'] {
  display: flex;
  gap: 0.5rem;
}
ol[role='tablist'],
ul[role='tablist'],
menu[role='tablist'] {
  padding-inline-start: 0;
}
ol[role='tablist'] > li,
ul[role='tablist'] > li,
menu[role='tablist'] > li {
  list-style: none;
}

/* tab headers */
[role='tablist'] > [role='tab'] > label {
  cursor: pointer;
  border-bottom: 2px solid transparent;
  padding: var(--pico-nav-link-spacing-vertical, var(--nav-link-spacing-vertical)) calc(var(--pico-nav-link-spacing-horizontal, var(--nav-link-spacing-horizontal))*1.5);
  user-select: none;
  border-radius: 0;
  transition: all .25s;
}

:has(#tab-1:checked) [role='tablist'] label[for='tab-1'],
:has(#tab-2:checked) [role='tablist'] label[for='tab-2'],
:has(#tab-3:checked) [role='tablist'] label[for='tab-3'],
:has(#tab-4:checked) [role='tablist'] label[for='tab-4'] {
  color: var(--secondary);
  /* background: red; */
  background-color: var(--pico-primary-hover-background);
  font-weight: bold;
}

/* tab panels */
input[type='radio'] + [role='tabpanel'] {
  display: none;
}
input[type='radio']:checked + [role='tabpanel'] {
  display: block;
}

